
      <%= simple_form_for @paciente, html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        } do |f| %>

      <fieldset class='caixa'>
        <legend class='caixa'>Paciente</legend>
        <%= f.input :nm_paciente, label: 'Nome' %>
        <%= f.input :dt_nascimento, format: :default, label: 'Data nascimento', html5: true, input_html: { class: 'input-large', :onblur => 'mostra_idade(this)' } %> 
        <%= f.input :estado_civil, as: :select, collection: @estado_civis %>
        <%= f.input :endereco, label: 'Endereço' %>
        <%= f.input :cidade %>
        <%= f.input :profissao, label: 'Profissão' %>
        <%= f.input :fone_casa, label: 'Fone' %>
        <%= f.input :e_mail, label: 'Natural' %>
        <%= f.input :dt_prim_consulta, format: :default, label: 'Primeira Consulta', html5: true, input_html: { class: 'input-large' } %> 
        <%= f.input :situacao %>
        <%= f.input :encaminhado_por %>
   
        <fieldset class='caixa'>
          <legend class='caixa'>Anamnese</legend>
          <%= f.input :obs1, label: 'Q.P./H.P.M.A.', input_html: { :rows => '3' }  %>
          <%= f.input :obs2, label: 'A.P./I.D.',     input_html: { :rows => '3' } %>

          <fieldset>
            <legend>Antecedentes Familiares</legend>
            <%= f.input :antec_pai, label: 'Pai' %>
            <%= f.input :antec_mae, label: 'Mae' %>
            <%= f.input :antec_irmaos, label: 'Irmãos' %>
            <%= f.input :antec_conjuge, label: 'Conjuge' %>
            <%= f.input :antec_filhos, label: 'Filhos' %>
          </fieldset>

          <%= f.input :obs3, label: 'E.F.',         input_html: { :rows => '3' } %>
          <%= f.input :obs4, label: 'Conduta H.D.', input_html: { :rows => '3' } %>
          <%= f.input :obs5, label: 'Evolução',     input_html: { :rows => '10', :onfocus => 'textAreaAdjust(this)' } %>
        </fieldset>

        <div class="form-actions">
          <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      pacientes_path, :class => 'btn' %>
          <%= link_to t('.back', :default => t("helpers.links.back")),
                      pacientes_path, :class => 'btn' %>
          <%= link_to 'Visualizar', @paciente %> 
        </div>
      </fieldset>
      <% end %>
    </div>  
  </div>



<!-- O codigo abaixo é para fazer campos textarea autoredimencionavel 

f.input :obs3, label: 'E.F.', input_html: { :rows => '3', :onkeyup => 'textAreaAdjust(this)', :style => 'overflow:hidden' } 
-->

<script>
jQuery.each(jQuery('textarea'), function() {
    var offset = this.offsetHeight - this.clientHeight;
 
    var resizeTextarea = function(el) {
        jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
    };
    jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});

function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
}

function getIdade(dateString) {
    var today = new Date();
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    return age;
}

function mostra_idade(o) {
  var ida = new String;
  var data = new Date(o.value);
  ida = getIdade(data);
  ida = ' ' + ida + ' Anos'
  $("#paciente_dt_nascimento").after(ida);
  return
}


</script>
