<%- model_class = Medicamento -%>
<dl class="dl-horizontal bg-primary">
  <dt></dt>
  <dd><h2><%=t '.title', :default => @paciente.nm_paciente %></h2></dd>

  <dt><strong><%= model_class.human_attribute_name("Data nascimento") %>:</strong></dt>
  <dd><%= @paciente.dt_nascimento %> - <%= @paciente.idade %></dd>

  <% unless @paciente.estado_civil.blank? %>
  <dt><strong>Estado Civil:</strong></dt>
  <dd><%= @paciente.estado_civil %></dd>
  <% end %>

  <dt><strong>Endereço:</strong></dt>
  <dd><%= @paciente.endereco %> -
      <%= @paciente.cidade.to_s %>
  </dd>

  <dt><strong>Profissão/Empresa:</strong></dt>
  <dd><%= @paciente.profissao %> -
      <%= @paciente.empresa %>
  </dd>

  <dt><strong>Fone:</strong></dt>
  <dd><%= @paciente.fone_casa %>&nbsp;
      <%= @paciente.fone_empresa %>&nbsp;
      <%= @paciente.celular %>
  </dd>

  <% unless @paciente.e_mail.blank? %>
  <dt><strong>Natural:</strong></dt>
  <dd><%= @paciente.e_mail %></dd>
  <% end %>

  <dt><strong>Primeira consulta:</strong></dt>
  <dd><%= @paciente.dt_prim_consulta %></dd>

  <dt><strong>Ultima consulta:</strong></dt>
  <dd><%= @paciente.dt_ult_consulta %></dd>

  <% unless @paciente.situacao.blank? %>
  <dt><strong>Situação:</strong></dt>
  <dd><%= @paciente.situacao %></dd>
  <% end %>

  <% unless @paciente.encaminhado_por.blank? %>
  <dt><strong>Encaminhado por:</strong></dt>
  <dd><%= @paciente.encaminhado_por %></dd>
  <% end %>


  <dt>.</dt><dd>ANAMNESE</dd>

  <% unless @paciente.obs1.blank? %>
  <dt><strong>Q.P./H.P.M.A.:</strong></dt>
  <dd><%= @paciente.obs1 %></dd>
  <% end %>

  <% unless @paciente.obs2.blank? %>
  <dt><strong>A.P./I.D.:</strong></dt>
  <dd><%= @paciente.obs2 %></dd>
  <% end %>

  <% unless @paciente.antec_mae.blank? %>
  <dt><strong>Antec.mãe:</strong></dt>
  <dd><%= @paciente.antec_mae %></dd>
  <% end %>

  <% unless @paciente.antec_pai.blank? %>
  <dt><strong>Antec.pai:</strong></dt>
  <dd><%= @paciente.antec_pai %></dd>
  <% end %>

  <% unless @paciente.antec_filhos.blank? %>
  <dt><strong>Antec.filhos:</strong></dt>
  <dd><%= @paciente.antec_filhos %></dd>
  <% end %>

  <% unless @paciente.antec_irmaos.blank? %>
  <dt><strong>Antec.irmãos:</strong></dt>
  <dd><%= @paciente.antec_irmaos %></dd>
  <% end %>

  <% unless @paciente.antec_conjuge.blank? %>
  <dt><strong>Antec.cônjuge:</strong></dt>
  <dd><%= @paciente.antec_conjuge %></dd>
  <% end %>

  <% unless @paciente.obs3.blank? %>
  <dt><strong>E.F.:</strong></dt>
  <dd><%= @paciente.obs3 %></dd>
  <% end %>

  <% unless @paciente.obs4.blank? %>
  <dt><strong>Conduta H.D.:</strong></dt>
  <dd><%= @paciente.obs4 %></dd>
  <% end %>

  <% unless @paciente.obs5.blank? %>
  <dt><strong>Evolução:</strong></dt>
  <dd><%= @paciente.obs5 %></dd>
  <% end %>

</dl>

    <div class="container bg-info">

<h3>Receitas</h3>
<table >
<% @paciente.receitas.each do |r| %>
  <tr>
    <th><%= r.data %>&nbsp;
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_receita_path(r, :paciente => @paciente), :class => 'btn btn-link' %>&nbsp;
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              receita_path(@paciente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza que quer excluir toda o cadastro e a história do paciente?')) },
              :class => 'btn btn-link' %>
    </th>
  </tr>
  <% r.receitais.each do |i| %>
    <tr>
    <td><%= i.medicamento.try(:descricao).to_s + ' ' + i.dose + '(' + i.qtde.to_s + ')' %></td>
    </tr>
  <% end %>
  <% end %>
</table>
<%= link_to 'Adicionar Receita', 
    new_receita_path( :paciente => @paciente ),
    :class => "btn btn-link" %>

<h3>Exames Solicitados</h3>
<table >
<% @paciente.solexames.each do |r| %>
  <tr>
    <th><%= r.data %></th>
    <th><%= link_to 'Alterar', edit_solexame_path(r, :paciente => @paciente) %></th>
    <th><%= link_to 'Excluir', r, :confirm => 'Você tem certeza que deseja excluir?', :controller => :solexames, :method => :delete %></th>
  </tr>
  <% r.solexameis.each do |i| %>
    <tr>
    <td><%= i.exame.descricao %></td>
    </tr>
  <% end %>
  <tr><td>.</td></tr>
  <% end %>
</table>
<%= link_to 'Adicionar Solicitacao de Exame', 
    new_solexame_path( :paciente => @paciente ),
    :class => "btn btn-link" %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pacientes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_paciente_path(@paciente), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              paciente_path(@paciente),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeja que quer excluir toda o cadastro e a história do paciente?')) },
              :class => 'btn btn-danger' %>
  <%= link_to 'Prescrever Receita', 
              new_receita_path( :paciente => @paciente ), :class => "btn btn-info" %> 
  <%= link_to 'Solicitar de Exame', 
              new_solexame_path( :paciente => @paciente ), :class => "btn btn-info" %>
</div>  

