<fieldset>
<legend>Vias de aplicação (<%= titulo %>)</legend>
<div id="esquerda">
  
  <%= form_for(@viaaplic) do |f| %>
   <%= render "shared/error_messages", :target => @viaaplic %>  
    <div>
    <table>
      <p>
        <tr>
        <td><%= f.label 'Descrição' %></td>
        <td><%= f.text_field :descricao, :size => '60' %></td>
      </tr>
    </table>
  <p>
    <%= f.submit nome_botao %>
  </p>
<% end %>
</fieldset>