<h1><%= titulo %> receita</h1>

<%= simple_form_for @receita, html: { class: 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
        } do |f| %>

  <%= f.select :paciente_id, @pacientes, label: 'Paciente' %>
  
  <%= f.input :data, format: :default, label: 'Data da receita', html5: true, input_html: { class: 'input-large' } %>

  <%= f.simple_fields_for :receitais do |builder| %>
    <%= render 'receitai_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Adiciona Item", f, :receitais %>
  <br>
  <br>
  <%= f.submit "Gravar", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                receitas_path, :class => 'btn' %>
<% end %>

