<h1>Listing exames</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% for exame in @exames %>
  <tr>
    <td><%=h exame.descricao %></td>
    <td><%= link_to 'Show', exame %></td>
    <td><%= link_to 'Edit', edit_exame_path(exame) %></td>
    <td><%= link_to 'Destroy', exame, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exame', new_exame_path %>
