<html>
  <head>
<head>
  <title>CTRL+Med</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>    
 </head>
  <body>
    <div id="cabecalho">
    <h1><%= image_tag("rails.png", :size => '70x70') %>
    CtrlMed</h1>
    <div id="cabecalho-centro">
        <%= 'Consultorio Médico Dr. Ivam Schirmer' %>
    </div>
    <div class="menu_superior">
    <ul id="menu">
      <li><%= link_to "Pacientes", pacientes_url %></li>
      <li><%= link_to "Parâmetros", 'comprador_requisicaois_path' %></li>
      <li><%= link_to "Padrões", padraos_url %></li>
      <li><%= link_to "Via Aplicação", viaaplics_url %></li>
      <li><%= link_to "Medicamentos", medicamentos_url %></li>
      <li><%= link_to "Exames", exames_url %></li>
      <li><%= link_to "Receitas", receitas_url %></li>
    </ul>
    </div>
    <div  id="aviso"><p><%= flash[:notice] %></p></div>
    <div id="loading" style="z-index: 1000; position:absolute; right: 10px; top: 10px; width:70px; height:20px; color: white; padding:6px; display: none; "><%= image_tag('spinner.gif', :border => 0) %></div>

    <div id="contents"><%= yield %></div>

   <div id="presence" class="full">
      <div id="presence-ui" class="clearfix">
	<div id="presence-bar">
	  <div id="presence-buttons">
	    <div class="presence-section" id="presence-users">
	      <div class="presence-popup" style="display:none;" id="presence-users-popup">
		<div class="optional">Carregando...</div>
	      </div>
	      <div class="presence-bar-text" style="float:left;padding-right:2px;"><img src="/images/user_comment.png" border="0" class="presence-img"/></div>
	      <div class="presence-bar-text presence-toggle" id="presence-toggle-users">
              </div>
	    </div>
	  </div>
	</div>
	<div id="contact" style="padding-left:0.3em;border-top:1px solid #ccc;">
          <small><em><b>Compras v0.0.0 Beta - <a href="http://www.inovadorasistemas.com.br">Inovadora Sistemas de Gestão</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="mailto:nelson@inovadorasistemas.com.br">Opiniões? Sugestões? Idéias? Erros?</a>
          </em></small>
        </div>
      </div>
    </div>

  </body>
</html>
